/*BODY*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}
/*NAV*/
nav .navbar-brand{
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
}

/*HEADER*/
.cabecera{
    display: inline-block;
    vertical-align: middle;
}
h1{
    font-weight: 700;
}
.cabecera p{
    font-weight: 700;
}
.cabecera button{
    font-weight: 400;
}

/*SLIDER*/
.carousel-item img{
    padding: 10px;
    float: left;
}
.carousel-indicators{
    bottom: -38px;
}
.carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #373A3C;
}    

/*RECETA*/

.receta p{
    font-weight: 400;
    font-size: 20px;
}
.receta b{
    cursor: pointer;
}

/*ARTICULOS*/
.articulos h3{
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.articulos p{
    font-weight: 400;
    font-size: 16px;
}
/*NEWSLETTER*/
.newsletter h2{
    font-weight: 700;
}
.newsletter p{
    font-size: 25px;
}
.newsletter span {
    font-family: 'Lobster Two', cursive;
}

/*FOOTER*/
footer a{ 
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    text-decoration: none;
}

@media (max-width: 767.98px) {
    .text-buttons {
        text-align: center;
    }
}

